<body routerLink="/">
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">PROP, World!</h1>
          <p>This is a website for a simple marketing or informational website. It includes a large information of properties. Use it as a starting point to find something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Rent</h2>
            <p>Rent the properties at lowest cost and direct cost without broker fee...</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Search</h2>
            <p>Search for properties of your required choices and filters based on BHK type you want and rent type</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>PlaceHolder</h2>
            <p>Placeholder</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>© Company 2022</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~bootstrap/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="~bootstrap/dist/js/bootstrap.min.js"></script>
  

</body>